body{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 30px;
}
#logo{
    margin-top: 25px;
    margin-left: 40px;
}
#welcome{
    width: 30%;
    height: 500px;
    background-color: rgb(43, 160, 249);
}
#enterDetails{
    width: 30%;
    background-color: rgb(250, 191, 41);
}
#findDetails{
    width: 30%;
    background-color: rgb(250, 191, 41);
}
#findWatched{
    margin: auto;
}
#find{
    margin-bottom: 0;
}
input{
    width: 250px;
    height: 25px;
    font-size: 17px;
}
button{
    height: 25px;
    width: 200px;
    background-color: white;
    color:rgb(43, 160, 249);
    border: 1px solid black;
    margin-bottom: 30px;
}